{% extends 'layout.html' %}
{% block main%}
<div class="col-8">
	<div class="card">
	  <h5 class="card-header"></h5>
	  <div class="card-body">
		<h5 class="card-title">{{content.title}}</h5>
		<p>
		作者：<span class="text-primary">{{content.user.username}}</span>
		时间：<span class="text-primary">{{content.addTime|date('Y年m月d日 H:i:s', -60*8)}}</span>
		阅读：<span class="text-primary">{{content.views}}</span>
		</p>
		<div class="contentList"></div>
	  </div>
	</div>
	
	<!-- 评论 -->
	<div class="float-right"> 共有<em class="text-primary" id="messageCount"></em>条评论</div>
	<div class="clearfix"></div>
	<p class="text-primary">评论：</p>
	{% if userInfo._id %}
	<div class="input-group mb-3">
	  <input type="hidden" id="contentId" value="{{content.id}}" name="">
	  <input type="text" id ="messageContent" class="form-control" placeholder="评论" >
	  <button class="btn btn-outline-secondary" type="button" id="messageBtn">提交</button>
	</div>
	{% else %}
	 <input type="hidden" id="contentId" value="{{content.id}}" name="">
	<div class="alert alert-primary" role="alert">
	  您还没登录请登录再评论
	</div>
	
	{%endif%}
	
	<div class="messageList" style="height: 20px;" >
		<!-- <div class="messageBox">
			<p class="name clear"><span class="float-left">admin</span><span class="float-right">2020年07月1日
			</span></p>		
		</div>
		<div class="clearfix"></div>
		<p>哈哈</p>	
		 -->
	</div>
	
</div>
<script src="/public/js/comment.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/content.js" type="text/javascript" charset="utf-8"></script>
{%endblock%}